body {
    font-family: 'Inter', sans-serif;
}

#notes-grid .note-card {
    transition: transform 0.2s ease;
    cursor: pointer; /* Indicate that the note card can be interacted with */
}

#notes-grid .note-card:hover {
    transform: scale(1.05);
}

#note-modal {
    transition: opacity 0.3s ease;
}

#note-modal.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Dark Mode */
body.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}

body.dark-mode .bg-gray-800 {
    background-color: #2d3748;
}

body.dark-mode .bg-gray-600 {
    background-color: #4a5568;
}
